@font-face  {
  font-family: 'square';
  src: url(../font//squarefont/Square.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(17, 37, 56);
    
}

h2{
    text-align: center;
    font-family: platinum;
    background-color: black;
    color: rgb(250, 239, 239);
    height: 60px;
    font-size: 45px;
}


section {
  width: 100%;
  height: 200px;
  padding: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
}

section, h4, p{
       text-align: center;
       color: rgb(0, 255, 0);
       background-color: none;
       font-size: 45px;


 }



#bg-image1{
  background-image: url(/imagens/ds.png);
  
 
}

#bg-image2{
  background-image: url(/imagens/aw.png);
  
}

#bg-image3{
  background-image: url(/imagens/2060-super-mancer-ss-001-pichau.png);
  
}

#bg-image4{
  background-image: url(/imagens/2-PhotoRoom.png-PhotoRoom\ \(1\).png);
  
}

footer, h3, p{
  background-color: rgb(163, 17, 17);
}

