:root{
    --azul: #6EB3D0;
    --verde: #3f8323;
    --azualEscuro: #1100ff;
}


.gallery_product
{
    margin-bottom: 30px;
}
.gallery_product .title{
  color:#fff;
  margin: 0;
  position:relative;
  bottom:50px;
  left:10px;
}
.gallery_product .title small{
  display:block;
}
