*{
    background-color: rgb(174, 177, 29);
}
form  div{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;  
}

h4{
    text-align: center;
    background-color: rgb(3, 2, 2);
    color: rgb(255, 254, 254);
    border-radius: 20px;
   
}

h1{
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset{
    margin-top: auto;
    margin: 80px;

}